[color]
    branch = auto
      diff = auto
        status = auto

[color "branch"]
    current = yellow reverse
      local = yellow
        remote = green

[color "diff"]
    meta = yellow bold
      frag = magenta bold
        old = red bold
          new = green bold

[color "status"]
    added = yellow
      changed = green
        untracked = cyan

[core]
	autocrlf = false
	editor = vim
	excludesfile = /home/reckbo/.gitignore
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	staged = diff --cached
	; lg = log --pretty=oneline --date-order --graph --all --decorate
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
    email = ryan.eckbo@gmail.com
    name = reckbo
[github]
	user = reckbo
[credential]
	helper = cache --timeout=3600
